#pic1{
	position: absolute;
	top: 50px;
	left: 0px;
	z-index:0;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic2{
	position: absolute;
	top: 50px;
	left: 0px;
	z-index:1;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic3{
	position: absolute;
	top: 50px;
	left: 0px;
	z-index:2;
	width: 100%;
	max-width: 100%;
	height: auto;
}

