#pic0{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:-1;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic1{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:0;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic2{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:1;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic3{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:2;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic4{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:3;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic5{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:4;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic6{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:5;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic7{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:6;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic8{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:7;
	width: 100%;
	max-width: 100%;
	height: auto;
}

#pic9{
	position: absolute;
	top: 150px;
	left: 0px;
	z-index:8;
	width: 100%;
	max-width: 100%;
	height: auto;
}
